<ion-view title="Homepage" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 432px;"></div>
        <div id="homepage-button-bar1" class=" button-bar ">
            <button id="homepage-button7" class=" button button-positive  button-block ">1</button>
            <button id="homepage-button8" class=" button button-positive  button-block ">2</button>
            <button id="homepage-button9" class=" button button-positive  button-block ">3</button>
        </div>
    </ion-content>
</ion-view>