<ion-view title="Login" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 137px;"></div>
        <form id="login-form1" class="list ">
            <ion-list id="login-list1" class=" ">
                <label class="item item-input " id="login-input1">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="login-input2">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <button id="login-button4" class=" button button-dark  button-block ">Log in</button>
            <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="login-button5" style="border-radius:100px 100px 100px 100px;" class=" button button-dark  button-block button-clear ">Or create an account</a>
            <button id="login-button6" class=" button button-positive  button-block ">Sign in with Facebook</button>
            <div class="spacer" style="height: 40px;"></div>
        </form>
    </ion-content>
</ion-view>